html {
  overflow-y: scroll;
}

.u-inline-block {
  display: inline-block;
}

.form-group {
  margin-right: 16px;
}

label {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.u-display--none {
  display: none;
}

.u-display--block {
  display: block;
}



/* Test Styles */

.profile-friend {
  width: 120px;
  height: 120px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  background-color: #ddd;
  margin: 15px;
  color: #2c2c2c;
}
