html {
  overflow-y: scroll;
}

.u-inline-block {
  display: inline-block;
}

.form-group {
  margin-right: 16px;
}

label {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.u-display--none {
  display: none;
}

.u-display--block {
  display: block;
}
