html {
  overflow-y: scroll;
}

.u-inline-block {
  display: inline-block;
}

.form-group {
  margin-right: 16px;
}

label {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.u-display--none {
  display: none;
}

.u-display--block {
  display: block;
}

.w-100 {
  width: 100%;
}

.mb-1 {
  margin-bottom: 8px;
}



/* Test Styles */

.comments-add-textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.list-img {
  width: 100px;
  margin-right: 3rem;
}

.profile-friend {
  width: 160px;
  height: 160px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  background-color: #ddd;
  margin: 12px;
  color: #2c2c2c;
  position: relative;
  overflow: hidden;
}

.profile-friend img {
  max-height: 100%;
  max-width: 100%;
}

.profile-friend--delete {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  width:100%;
}

.nav-profile-img {
  width: 25px;
  border-radius: 50%;
}
